{
  "log": {
    "_recordingName": "ZoningPlan loader/Loader internals/cache miss",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "72b2888e89624a054ef3dc7f0b86f0dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain;charset=UTF-8",
            "params": [],
            "text": "\n  <GetFeature\n    version=\"2.0.0\"\n    service=\"WFS\"\n    xmlns=\"http://www.opengis.net/wfs/2.0\"\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n    xmlns:gml=\"http://www.opengis.net/gml\"\n    xsi:schemaLocation=\"http://www.opengis.net/wfs\n  http://schemas.opengis.net/wfs/2.0/wfs.xsd\">\n    <Query typeNames=\"app:Plangebied_PCP\" xmlns:app=\"http://www.deegree.org/app\">\n      <PropertyName>app:planstatus</PropertyName>\n      <PropertyName>app:naam</PropertyName>\n      <fes:Filter xmlns:fes=\"http://www.opengis.net/fes/2.0\">\n        <fes:And>\n          <fes:DWithin>\n            <gml:Point gml:id=\"P1\" srsName=\"urn:ogc:def:crs:EPSG::28992\">\n              <gml:pos>121642.505 487969.772</gml:pos>\n            </gml:Point>\n            <fes:Distance uom=\"m\">1</fes:Distance>\n          </fes:DWithin>\n          <fes:Or>\n            <fes:PropertyIsEqualTo>\n              <fes:ValueReference>app:planstatus</fes:ValueReference>\n              <fes:Literal>vastgesteld</fes:Literal>\n            </fes:PropertyIsEqualTo>\n            <fes:PropertyIsEqualTo>\n              <fes:ValueReference>app:planstatus</fes:ValueReference>\n              <fes:Literal>onherroepelijk</fes:Literal>\n            </fes:PropertyIsEqualTo>\n          </fes:Or>\n        </fes:And>\n      </fes:Filter>\n    </Query>\n    <Query typeNames=\"app:Bestemmingsplangebied\" xmlns:app=\"http://www.deegree.org/app\">\n      <PropertyName>app:planstatus</PropertyName>\n      <PropertyName>app:naam</PropertyName>\n      <fes:Filter xmlns:fes=\"http://www.opengis.net/fes/2.0\">\n        <fes:And>\n          <fes:DWithin>\n            <gml:Point gml:id=\"P1\" srsName=\"urn:ogc:def:crs:EPSG::28992\">\n              <gml:pos>121642.505 487969.772</gml:pos>\n            </gml:Point>\n            <fes:Distance uom=\"m\">1</fes:Distance>\n          </fes:DWithin>\n          <fes:Or>\n            <fes:PropertyIsEqualTo>\n              <fes:ValueReference>app:planstatus</fes:ValueReference>\n              <fes:Literal>vastgesteld</fes:Literal>\n            </fes:PropertyIsEqualTo>\n            <fes:PropertyIsEqualTo>\n              <fes:ValueReference>app:planstatus</fes:ValueReference>\n              <fes:Literal>onherroepelijk</fes:Literal>\n            </fes:PropertyIsEqualTo>\n          </fes:Or>\n        </fes:And>\n      </fes:Filter>\n    </Query>\n  </GetFeature>"
          },
          "queryString": [
            {
              "name": "REQUEST",
              "value": "GetFeature"
            },
            {
              "name": "service",
              "value": "WFS"
            },
            {
              "name": "version",
              "value": "1.0.0"
            },
            {
              "name": "typename",
              "value": "ProvinciaalPlangebied"
            }
          ],
          "url": "https://afnemers.ruimtelijkeplannen.nl/afnemers/services?REQUEST=GetFeature&service=WFS&version=1.0.0&typename=ProvinciaalPlangebied"
        },
        "response": {
          "content": {
            "mimeType": "text/xml; subtype=gml/3.2.1;charset=UTF-8",
            "size": 2295,
            "text": "<?xml version='1.0' encoding='UTF-8'?>\n<wfs:FeatureCollection xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.opengis.net/wfs/2.0 http://schemas.opengis.net/wfs/2.0/wfs.xsd http://www.opengis.net/gml/3.2 http://schemas.opengis.net/gml/3.2.1/gml.xsd http://www.deegree.org/app http://afnemers.ruimtelijkeplannen.nl/afnemers/services?SERVICE=WFS&amp;VERSION=2.0.0&amp;REQUEST=DescribeFeatureType&amp;OUTPUTFORMAT=application%2Fgml%2Bxml%3B+version%3D3.2&amp;TYPENAME=app:Bestemmingsplangebied,app:Plangebied_PCP&amp;NAMESPACES=xmlns(app,http%3A%2F%2Fwww.deegree.org%2Fapp)\" xmlns:wfs=\"http://www.opengis.net/wfs/2.0\" timeStamp=\"2021-02-11T11:57:52Z\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" numberMatched=\"unknown\" numberReturned=\"0\">\n  <!--NOTE: numberReturned attribute should be 'unknown' as well, but this would not validate against the current version of the WFS 2.0 schema (change upcoming). See change request (CR 144): https://portal.opengeospatial.org/files?artifact_id=43925.-->\n  <wfs:member>\n    <app:Plangebied_PCP xmlns:app=\"http://www.deegree.org/app\" gml:id=\"PGPCP_13407\">\n      <app:fid>13407</app:fid>\n      <app:naam>Mededeling overschrijding ex artikel 3.1, vijfde lid Wro</app:naam>\n      <app:planstatus>onherroepelijk</app:planstatus>\n    </app:Plangebied_PCP>\n  </wfs:member>\n  <wfs:member>\n    <app:Bestemmingsplangebied xmlns:app=\"http://www.deegree.org/app\" gml:id=\"BPG_138074\">\n      <app:fid>138074</app:fid>\n      <app:naam>Prins Hendrikkade tussen Droogbak en Oudezijds Kolk</app:naam>\n      <app:planstatus>vastgesteld</app:planstatus>\n    </app:Bestemmingsplangebied>\n  </wfs:member>\n  <wfs:member>\n    <app:Bestemmingsplangebied xmlns:app=\"http://www.deegree.org/app\" gml:id=\"BPG_138075\">\n      <app:fid>138075</app:fid>\n      <app:naam>Prins Hendrikkade tussen Droogbak en Oudezijds Kolk 1e par[...]
