{
  "log": {
    "_recordingName": "CityScape loader/Basic functions/cache miss",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ff742086f7eb1f7ce0169e76f5a2e48a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status"
            }
          ],
          "url": "https://api.data.amsterdam.nl/v1/beschermdestadsdorpsgezichten/beschermdestadsdorpsgezichten/f0ec3ea9-2ce4-4022-aba2-ab63ec448db9/?fields=status"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json",
            "size": 58,
            "text": "{\"status\":\"Gemeentelijk beschermd stads- of dorpsgezicht\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "74cc1860e35e8ee3942e5f44aa7ffada",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status"
            }
          ],
          "url": "https://api.data.amsterdam.nl/v1/beschermdestadsdorpsgezichten/beschermdestadsdorpsgezichten/1477/?fields=status"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json",
            "size": 26,
            "text": "{\"status\":\"rijksmonument\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
