{
  "log": {
    "_recordingName": "CityScape loader/findAddress non-existant",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6488821841bd12f0aa76e7de01b528cc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status"
            }
          ],
          "url": "https://api.data.amsterdam.nl/v1/beschermdestadsdorpsgezichten/beschermdestadsdorpsgezichten/0/?fields=status"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 140,
            "text": "{\"type\":\"urn:apiexception:not_found\",\"title\":\"No beschermdestadsdorpsgezichten matches the given query.\",\"detail\":\"Not found.\",\"status\":404}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
