{
  "log": {
    "_recordingName": "GeoSearch loader/Basic functions/cache hit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "41e391ddc2cd89607ee58ffd162a8928",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "datasets",
              "value": "beschermdestadsdorpsgezichten"
            },
            {
              "name": "x",
              "value": "121613"
            },
            {
              "name": "y",
              "value": "487990"
            }
          ],
          "url": "https://api.data.amsterdam.nl/geosearch/?datasets=beschermdestadsdorpsgezichten&x=121613&y=487990"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 325,
            "text": "{\"type\": \"FeatureCollection\", \"features\": [{\"properties\": {\"id\": \"1477\", \"display\": \"Amsterdam - Binnen de Singelgracht\", \"type\": \"beschermdestadsdorpsgezichten/beschermdestadsdorps\", \"uri\": \"https://api.data.amsterdam.nl/v1/beschermdestadsdorpsgezichten/beschermdestadsdorpsgezichten/1477/\", \"distance\": 873.497871940158}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
